---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<div class="navbar bg-base-100">
		<div class="flex-1">
			<a href="/" class="btn btn-ghost normal-case text-xl">{SITE_TITLE}</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal p-0">
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
				<li tabindex="0">
					<a>
						Social
						<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
					</a>
					<ul class="p-2 bg-base-100">
						<li><a href="https://twitter.com/_kokt">Twitter</a></li>
						<li><a href="https://github.com/sim1222">Twitter</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<nav>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
